<div>
    <div>
        <h1>
            Dashboard
        </h1>
    </div>
    
    <div>
       {{#each posts}}
        <div>
<p contenteditable="true" id = "post-title-{{this.id}}">{{this.post_title}}</p>
    <p>{{this.date_created}}</p>
    <p contenteditable="true" id = "post-content-{{this.id}}">{{this.post_body}}</p>
    <div> 
        <button class = "update-button" data-post = "{{this.id}}">
            update
        </button>
        <button class = "delete-button" data-post = "{{this.id}}">
            delete
        </button>
    </div>
    </div>
      
    {{/each}} 
    </div>
    <div id = "dashboard-form">
        <h3>
            add new post
        </h3>
        <form id = "dashboard-create-form">
            <div>
                <label>Title</label>
                <input id = "new-post-title" type = "text" name = "new-post-title">
            </div>
            <div>
                <label>
                    content

                </label>
                <textarea id = "new-post-content" name= "new-post-content"></textarea>
            </div>
            <div>
                <button type = "submit">submit</button>
            </div>
        </form>
    </div>
</div>

<script src = "/js/dashboard.js"></script>