<div class = "homepage">
    <h1>homepage</h1>

<div class = "posts">
    {{#each posts}}
    <a href = "post?title={{this.post_title}}">
    <div class = "post">
<p>{{this.post_title}}</p>
    <p>{{this.date_created}}</p>
    <p>
        <strong>
            by {{this.user.username}}
        </strong>
    </p>
    <div class = "post-comments">
        {{#each this.comments}}
        <p>
      <strong>
              by {{this.user.username}}
      </strong>
        </p>
        <p>
            date: {{this.date_created}}
        </p>
        <p class = "home-comment-content" contenteditable = "true" id = "comment-{{this.id}}">{{this.comment_body}}</p>
        {{#if this.canModify  }}
        <div> 
        <button class = "update-button comment-update-button" data-comment = "{{this.id}}">
            update
        </button>
        <button class = "delete-button comment-delete-button" data-comment = "{{this.id}}">
            delete
        </button>
        </div>
        {{/if}}

        {{/each}}
    </div>
    </div>
    </a>
    
    {{/each}}
</div>
</div>
<script src = "/js/home.js">

</script>