<div class = "homepage">
    <h1>homepage</h1>

<div>
    {{#each posts}}
    <a href = "post?title={{this.post_title}}">
    <div>
<p>{{this.post_title}}</p>
    <p>{{this.date_created}}</p>
    <p>{{this.post_body}}</p>
    <div>
        {{#each comments}}
        <p>{{this.comment_body}}</p>
        {{/each}}
    </div>
    </div>
    </a>
    
    {{/each}}
</div>
</div>